* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: auto;
}

html {
  background: #1e2a36;
  height: 100vh;
}

body {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 180px auto 15%;
  grid-template-rows: 45px auto 5%;
  grid-template-areas: "title 	header 	user" "side 	page 	page" "side 	page 	page";
}
body #title {
  grid-area: title;
  background: #34495e;
  display: grid;
  align-content: center;
  justify-content: center;
  color: #fff;
  font-size: 1.3em;
}
body #title a {
  color: #fff;
}
body #header {
  grid-area: header;
  background: #2c3e50;
  display: grid;
  align-content: center;
  padding-left: 15px;
  color: #fff;
  font-size: 1.3em;
  font-weight: bolder;
}
body #user {
  grid-area: user;
  background: #2c3e50;
  display: grid;
  align-content: center;
  color: #fff;
  text-align: right;
  padding-right: 15px;
}
body #user i {
  margin-right: 5px;
}
body #side {
  grid-area: side;
  background: #d35400;
}
body #page {
  grid-area: page;
  background: #fff;
  background: #ecf0f1;
}

ul.menu {
  list-style: none;
}
ul.menu li {
  position: relative;
}
ul.menu li a {
  display: flex;
  align-items: center;
  position: relative;
  height: 35px;
  color: #fff;
  box-sizing: border-box;
  padding-left: 15px;
  text-decoration: none;
  font-size: 1.1em;
}
ul.menu li a i {
  margin-right: 10px;
}
ul.menu li a i.fa-caret-right {
  position: absolute;
  right: 15px;
}
ul.menu li:hover {
  background: #ba4a00;
}
ul.menu li > ul.sub_menu {
  display: none;
  position: relative;
}
ul.menu li:hover > ul.sub_menu {
  display: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  background: #ba4a00;
  min-width: 160px;
  right: -160px;
  top: 0;
}
ul.menu li:hover > ul.sub_menu li > a:hover {
  background: #a04000;
}
ul.menu hr {
  border: none;
  border-bottom: 1px solid #ba4a00;
  margin: 0;
  margin: 10px 5px;
}

.window {
  display: flex;
  height: 100%;
}
.window .col-left {
  background: #1f2c39;
  flex: 2;
}
.window .col-right {
  flex: 10;
}

/*# sourceMappingURL=style.css.map */
