* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
    // font-family: 'open-san','arial';
}
html {
    background: darken(#2c3e50,8);
    height: 100vh;
}
body {
    // padding: 10px 10px 0 10px;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: $w_sidebar auto 15% ;
    grid-template-rows: 45px auto 5%;
    grid-template-areas: 	"title 	header 	user" 
    						"side 	page 	page"     						
    						"side 	page 	page";
    #title {
        grid-area: title;        
        background: $cl-bg-title; 
        
        @include vhcenter;             
        
        color: #fff;
        font-size: 1.3em;
        a{
            color: #fff
        }
    }
    #header {
        grid-area: header;
        background: $cl-bg-header;
        @include vcenter;
        padding-left: 15px;
        color: #fff;
        font-size: 1.3em;
        font-weight: bolder;

    }
    #user {
        grid-area: user;
        background: $cl-bg-header;
        @include vcenter;
        color: #fff;
        text-align: right;
        padding-right: 15px;
        i{
            margin-right: 5px;
        }
    }

    #side {
        grid-area: side;
        background: $cl-bg-side;
    }
    #page {
        grid-area: page;
        background: #fff;
        // padding: 5px 10px;
        background: $cl-bg-page;
    }
    
}