// side menu
ul.menu {
    list-style: none;
    li {
        position: relative;
        a {
            display: flex;
            align-items: center;
            position: relative;
            height: 35px;
            color: #fff; // @include vcenter;
            box-sizing: border-box;
            padding-left: 15px;
            text-decoration: none;
            font-size: 1.1em;
            i {
                margin-right: 10px;
            }
            i.fa-caret-right {
                position: absolute;
                right: 15px;
            }
        }
        &:hover {
            background: darken($cl-bg-side, 5);
        }
        &>ul.sub_menu {
            display: none;
            position: relative;
        }
        &:hover>ul.sub_menu {
            display: inherit;
            list-style: none;
            margin: 0;
            padding: 0;
            position: absolute;
            background: darken($cl-bg-side, 5);
            min-width: ($w_sidebar - 20px);
            right: -1*($w_sidebar - 20px);
            top: 0;
            li>a {
                &:hover {
                    background: darken($cl-bg-side, 10);
                }
            }
        }
    }
    hr {
        border: none;
        border-bottom: 1px solid darken($cl-bg-side, 5);
        margin: 0;
        margin: 10px 5px;
    }
}
// ==== end ====